<div fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" fxFlex.gt-xs="50%" fxFlex.gt-sm="40%" fxFlex.gt-md="30%"
    fxFlex.gt-lg="20%">

    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="custom-card" style="margin: 10px; padding: 10px;">
        <mat-card-content style="padding: 20px;">
          <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
            <mat-form-field style="margin: 10px;">
              <input matInput placeholder="Nombre de la empresa" formControlName="businessName">
              <mat-error *ngIf="clientForm.get('businessName')?.hasError('required')">Debe especificar un
                nombre</mat-error>
            </mat-form-field>

            <mat-form-field style="margin: 10px;">
              <input matInput placeholder="CUIT" formControlName="cuit">
              <mat-error *ngIf="clientForm.get('cuit')?.hasError('required')">Debe especificar el cuit</mat-error>
            </mat-form-field>

            <div formGroupName="contact">
              <mat-form-field style="margin: 10px;">
                <input matInput placeholder="Nombre del contacto" formControlName="name">
                <mat-error *ngIf="clientForm.get('contact.name')?.hasError('required')">Debe especificar el nombre de
                  contacto</mat-error>
              </mat-form-field>

              <mat-form-field style="margin: 10px;">
                <input matInput placeholder="Apellido" formControlName="surname">
                <mat-error *ngIf="clientForm.get('contact.surname')?.hasError('required')">Debe especificar el
                  apellido</mat-error>
              </mat-form-field>

              <mat-form-field style="margin: 10px;">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="clientForm.get('contact.email')?.hasError('required')">Debe especificar un
                  email</mat-error>
                <mat-error *ngIf="clientForm.get('contact.email')?.hasError('email')">Invalid email format</mat-error>
              </mat-form-field>

              <button mat-button type="button" (click)="addPhone()">Agregar Teléfono</button>
              <div formArrayName="phones">
                <div *ngFor="let phone of phoneForms.controls; let i = index" [formGroupName]="i">
                  <mat-form-field style="margin: 10px;">
                    <input matInput placeholder="Número de teléfono" formControlName="number">
                    <button mat-icon-button color="warn" type="button" (click)="removePhone(i)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>


            </div>
            <button mat-raised-button color="primary" type="submit" style="margin-top: 20px;">Guardar</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>