
<table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Sucursal</th>
        <td mat-cell *matCellDef="let element" (click)="selectedBranchClicked.emit(element)">{{element.name}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef>Calle</th>
        <td mat-cell *matCellDef="let element">{{element.address.street}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>N°</th>
        <td mat-cell *matCellDef="let element">{{element.address.number}}</td>
    </ng-container>

    <ng-container matColumnDef="floor">
        <th mat-header-cell *matHeaderCellDef>Piso</th>
        <td mat-cell *matCellDef="let element">{{element.address.floor}}</td>
    </ng-container>

    <ng-container matColumnDef="zipcode">
        <th mat-header-cell *matHeaderCellDef>C.P.</th>
        <td mat-cell *matCellDef="let element">{{element.address.zipcode}}</td>
    </ng-container>

    <ng-container matColumnDef="apartment">
        <th mat-header-cell *matHeaderCellDef>Depto.</th>
        <td mat-cell *matCellDef="let element">{{element.address.apartment}}</td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>Ciudad</th>
        <td mat-cell *matCellDef="let element">{{element.address.city}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Accion</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="deleteBranchClicked.emit(element)">
                <mat-icon title="No guardar ésta sucursal">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
