<div class="flex-container">
    <mat-card class="example-card flex-item">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Agregar</mat-card-title>
                <mat-card-subtitle>Agregar un cliente</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content style="margin-top: 20px;">

            <form [formGroup]="clientForm" fxLayout="column" class="form-container">

                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">perm_identity</mat-icon>
                            Cliente
                        </ng-template>
                        <div class="tab-content">
                            <mat-card class="example-card flex-item">
                                <mat-card-header>
                                    <mat-card-title-group>
                                        <mat-card-title>Datos específicos del cliente</mat-card-title>
                                        <mat-card-subtitle style="margin-top: 10px;">Ingrese Nombre y
                                            cuit</mat-card-subtitle>
                                    </mat-card-title-group>
                                </mat-card-header>
                                <mat-card-content style="margin-top: 20px;">
                                    <div class="mat-elevation-z8">
                                        <mat-form-field>
                                            <input matInput placeholder="Nombre de la empresa" formControlName="businesName"
                                            [value]="clientForm.get('businesName')?.value | uppercase"  required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput placeholder="CUIT" formControlName="cuit" required>
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">contacts</mat-icon>
                            Contacto
                        </ng-template>
                        <div class="tab-content">
                            <mat-card class="example-card flex-item">
                                <mat-card-header>
                                    <mat-card-title-group>
                                        <mat-card-title>Datos de contacto</mat-card-title>
                                        <mat-card-subtitle>Contactos del cliente</mat-card-subtitle>
                                    </mat-card-title-group>
                                </mat-card-header>
                                <mat-card-content style="margin-top: 20px;">
                                    <mat-grid-list [cols]="gridCols" gutterSize="16px">
                                        <mat-grid-tile>
                                            <div fxFlex="33%">
                                                <mat-card>
                                                    <mat-card-content>
                                                        <mat-form-field>
                                                            <input matInput placeholder="Nombre" formControlName="name"
                                                                required
                                                                [value]="clientForm.get('name')?.value | uppercase" >
                                                        </mat-form-field>
                                                        <mat-form-field>
                                                            <input matInput placeholder="Apellido"
                                                                formControlName="surname" required
                                                                [value]="clientForm.get('surname')?.value | uppercase" >
                                                        </mat-form-field>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                            <div fxFlex="33%">
                                                <mat-card>
                                                    <mat-card-content>
                                                        <mat-form-field>
                                                            <input matInput placeholder="Email" formControlName="email"
                                                                required>
                                                        </mat-form-field>
                                                        <div class="mat-form-field">
                                                            <mat-form-field style="width: 80%;">
                                                                <input matInput type="number" placeholder="Teléfono"
                                                                    formControlName="newPhoneNumber" min="1" max="9999999999">
                                                            </mat-form-field>
                                                            <div class="mat-form-button">
                                                                <button mat-icon-button color="primary"
                                                                    (click)="addPhone()">
                                                                    <mat-icon>add</mat-icon>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                        </mat-grid-tile>
                                        <mat-grid-tile *ngIf="phones.length > 0">
                                            <div fxFlex="33%">
                                                <mat-card>
                                                    <mat-card-header>
                                                        <mat-card-title-group>
                                                            <mat-card-title>Teléfonos</mat-card-title>
                                                            <mat-card-subtitle>Lista de teléfonos agregados</mat-card-subtitle>
                                                        </mat-card-title-group>
                                                    </mat-card-header>
                                                    <mat-card-content>
                                                        <mat-list role="list" fxFlex="100%">
                                                            <mat-list-item role="listitem"
                                                                *ngFor="let phone of phones; let i = index"
                                                                fxFlex="33%">
                                                                {{ phone }}
                                                                <button mat-icon-button color="warn"
                                                                    (click)="removePhone(i)">
                                                                    <mat-icon>delete</mat-icon>
                                                                </button>
                                                            </mat-list-item>
                                                        </mat-list>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-tab>
                </mat-tab-group>

                <button mat-raised-button color="primary" (click)="saveContact()">
                    <mat-icon>save</mat-icon> Guardar Cliente
                </button>

            </form>
        </mat-card-content>
    </mat-card>
</div>