<div class="flex-container">
    <mat-card class="example-card flex-item">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Login</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content style="margin-top: 20px;">
            <form [formGroup]="formLogin" class="example-form">
                <div *ngIf="!showSpinner">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Ingrese su usuario" formControlName="user">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="Ingrese su contraseña" formControlName="password" type="password">
                    </mat-form-field>
                </div>
                <div *ngIf="showSpinner">
                    <mat-spinner></mat-spinner>
                </div>
                <div class="button-container">
                    <button mat-raised-button color="primary" [disabled]="!formLogin.valid && formLogin.touched || !formLogin.valid && !formLogin.touched"
                        (click)="submit()">
                        Submit
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>