.flex-container {
    padding: 20px;
    display: flex;
    justify-content: left; /* Centrar horizontalmente */
    align-items: left; /* Centrar verticalmente */
    height: 50vh; /* La mitad de la altura de la pantalla */
  }
  
  .example-card {
    width: 100%; /* Ocupar todo el ancho disponible */
    max-width: 400px; /* Establecer un ancho máximo para el card */
  }
  
  .example-form {
    width: 100%;
    display: flex;
    flex-direction: column; /* Cambiar la dirección de los elementos */
    align-items: stretch; /* Hacer que los elementos se estiren para ocupar el ancho */
}
  
.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
 /* align-items: center;  Centrar horizontalmente */
}
  
  /*modificacion*/


.example-full-width {
    width: 100%; /* Para que los campos de entrada ocupen todo el ancho */
}
