<mat-card class="custom-card" style="margin: 10px; padding: 10px;">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Cronograma</mat-card-title>
        <mat-card-subtitle style="margin-top: 10px;">Cronograma de tareas</mat-card-subtitle>
      </mat-card-title-group>
      <button mat-raised-button color="primary" (click)="addSchedule()" style="margin-left: auto;"
        matTooltip="Crear cronograma">
        <mat-icon>add_box</mat-icon>
        <mat-icon>work</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content style="margin-top: 20px;">
  
      <div class="table-container">
        <div *ngIf="load">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!load">
          <div *ngIf="squedules.length > 0" style="display: flex; flex-direction: column;">
  
  
            <table mat-table [dataSource]="dataSource">
  
              <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef> Empresa </th>
                <td mat-cell *matCellDef="let element"> {{element.branch.name}} </td>
              </ng-container>
  
              <ng-container matColumnDef="subJob">
                <th mat-header-cell *matHeaderCellDef> Tarea </th>
                <td mat-cell *matCellDef="let element"> {{element.subJob.description}} </td>
              </ng-container>
  
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="dateInit">
                <th mat-header-cell *matHeaderCellDef> Inicio </th>
                <td mat-cell *matCellDef="let element"> {{element.dateInit | date}} </td>
              </ng-container>

              <ng-container matColumnDef="dateEnd">
                <th mat-header-cell *matHeaderCellDef> Fin </th>
                <td mat-cell *matCellDef="let element"> {{element.dateEnd | date}} </td>
              </ng-container>

  
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
  
  
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  
  
          </div>
          <div *ngIf="squedules.length == 0">
            <mat-label>No hay cronograma creado</mat-label>
          </div>
        </div>
        <button mat-raised-button color="secundary" (click)="back()"
          style="margin: 20px;"><mat-icon>arrow_back</mat-icon></button>
      </div>
  
  
    </mat-card-content>
  </mat-card>