<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="logo">
        <div class="logo-img">
          <img src="/assets/img/rat.png" class="small-logo" />
        </div>
      </div>
    </mat-toolbar>
    <mat-nav-list *ngIf="logued">
      <mat-list>
        <mat-list-item *ngFor="let menu of MENU">
          <a mat-line [routerLink]='menu.path'>{{menu.title}}</a>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Sistema de control</span>
      <span class="exit-icon">
        <mat-icon class="exit-icon-inner" (click)="logout()">exit_to_app</mat-icon>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>