

  /* Estilo personalizado para los inputs */

.custom-input-address {
  width: 20%;
  margin-bottom: 10px; /* Espacio entre los inputs */
}

.phone-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Alinea los elementos en la parte superior de la fila */
}

.phone-input {
  margin-right: 10px; /* Espacio entre los elementos de teléfono */
  flex: 1; /* Los elementos se expandirán para llenar el espacio disponible */
  max-width: calc(33.33% - 10px); /* Limita el ancho de cada elemento al 33.33% del contenedor */
}

.phone-container .mat-button {
  margin-top: 10px; /* Espacio entre el botón "Agregar Teléfono" y los elementos de teléfono */
}

/* Estilo para la línea sombreada */
.line-shadow {
  border: 1px solid #ccc; /* Borde sólido de 1px de grosor */
  padding: 10px; /* Espacio interno alrededor del contenido */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra alrededor del div */
  margin: 5px;
  flex: 1; 
  padding: 10px; 
  max-height: 400px; 
  overflow-y: auto;
}



  
  @media screen and (min-width: 792px) {
    /* Pantallas grandes: El card ocupa la mitad de la pantalla */
    .custom-card {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 599px) {
    /* Pantallas pequeñas: El card ocupa el 100% del ancho */
    .custom-card {
      max-width: 100%;
    }
  }
  