<mat-progress-bar *ngIf="sending" mode="indeterminate"></mat-progress-bar>
<mat-card class="scrolleable-content" style="margin: 10px; padding: 10px;">
    <mat-card-title>
        Agrega cliente
    </mat-card-title>
    <mat-card-content>
        <div>
            <mat-tab-group #tabGroup mat-stretch-tabs="false" mat-align-tabs="start"
                style="position: sticky; margin: 10px; padding: 10px;">
                <mat-tab label="Cliente" style="margin: 10px;">

                    <app-form-cli [clientForm]="clientForm" (tabChangeRequest)="changeTab($event)"></app-form-cli>

                </mat-tab>
                <mat-tab label="Sucursales">

                    <div style="width: 100%;">

                        <app-form-branch [branchForm]="branchForm" (addBranch)="addBranche()"></app-form-branch>

                        <div *ngIf="branches.length == 0" style="margin: 10px;">
                            <mat-label>No hay sucursales agregadas</mat-label>
                        </div>

                        <div *ngIf="branches.length > 0" style="margin: 10px;">

                            <app-table-branch (deleteBranchClicked)="deletBranch($event)"  [dataSource]="dataSource"></app-table-branch>

                        </div>

                    </div>


                </mat-tab>
                <mat-tab label="Contactos">
                    <div style="display: flex; flex-direction: row; width: 100%;">

                        <!-- Columna izquierda -->
                        <div style="flex: 3; padding: 10px;">
                     
                            <app-form-contact [contactForm]="contactForm" [branches]="branches" (selectedBranch)="selectedBranch($event)"></app-form-contact>

                            <div style="display: flex; align-items: center; margin: 10px;">
                                <mat-form-field>
                                    <input matInput placeholder="Número a agregar" [(ngModel)]="newPhoneNumber"
                                        (keyup.enter)="addNumber()">
                                </mat-form-field>
                                <button title="Agregar teléfono" mat-button type="button" (click)="addNumber()">
                                    <mat-icon>contact_phone</mat-icon>
                                </button>
                            </div>
                        </div>

                        <!-- Columna derecha -->
                        <div class="line-shadow" style="flex: 1; padding: 10px;">
                            <mat-label>Teléfonos</mat-label>
                            <mat-list role="list" style="height: 100px;">
                                <mat-list-item *ngIf="phonesNumber.length == 0" role="listitem">
                                    No hay números
                                </mat-list-item>
                                <mat-list-item *ngFor="let phone of phonesNumber; let i = index" role="listitem">
                                    <div> {{ phone }} <mat-icon (click)="delPhone(i)" style="margin-right: 5px;">delete</mat-icon> </div>
                                </mat-list-item>
                            </mat-list>
                        </div>

                    </div>
                    
                    <div>

                        <button mat-raised-button color="primary"
                            [disabled]="!contactForm.valid || !contactForm.touched"
                            (click)="addContactToBranch()"><mat-icon>add</mat-icon></button>
                        <br>

                        <div style="margin: 10px;" *ngIf="contactsList.length == 0">
                            <mat-label>
                                No hay contactos agregados</mat-label>
                        </div>
                        <div *ngIf="contactsList.length > 0" style="margin: 10px;">

                            <app-table-contacts [dataSourceContact]="dataSourceContact" (deleteContactClicked)="deletContact($event)" ></app-table-contacts>

                        </div>

                    </div>


                </mat-tab>
            </mat-tab-group>
        </div>
        <button [disabled]="!clientForm.valid || sending" mat-raised-button color="primary"
            (click)="save()"><mat-icon>save</mat-icon></button>
        <button mat-raised-button color="secundary" (click)="back()"
            style="margin: 10px;"><mat-icon>arrow_back</mat-icon></button>
    </mat-card-content>
</mat-card>