.mat-tab-group {
    margin-bottom: 48px;
  }
  

  .custom-card {
    flex-grow: 1;
    box-sizing: border-box;
  }
  
  @media screen and (min-width: 792px) {
    /* Pantallas grandes: El card ocupa la mitad de la pantalla */
    .custom-card {
      max-width: 80%;
    }
  }
  
  @media screen and (max-width: 599px) {
    /* Pantallas pequeñas: El card ocupa el 100% del ancho */
    .custom-card {
      max-width: 100%;
    }
  }
  