.flex-item {
    flex: 1 1 300px;
    /* Cambia 300px por el ancho deseado de cada card */
    margin: 10px;
    /* Ajusta el margen según tus necesidades */
  }

  /*
  table {
    width: 100%;
  }*/

  /* Estilos para el contenedor de la tabla */
  /* Estilos para el contenedor de la tabla */
  .table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }

  .custom-card {
    flex-grow: 1;
    box-sizing: border-box;
  }


  @media screen and (max-width: 599px) {

    /* Pantallas pequeñas: El card ocupa el 100% del ancho */
    .custom-card {
      max-width: 100%;
    }
  }

  .paginator-custom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paginator-custom mat-paginator-page {
    margin: 0 4px;
    /* Ajusta el espaciado entre los botones */
  }

  table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }