<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-card class="custom-card" style="margin: 10px; padding: 10px;">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Cliente</mat-card-title>
        <mat-card-subtitle style="margin-top: 10px;">Detalles del cliente</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="!loading">
            <div style="margin: 10px; padding: 10px;">
                {{ client.businessName }}
            </div>
            <div style="margin: 10px; padding: 10px;">
                {{ client.cuit }}
            </div>
            <div style="margin: 10px; padding: 10px;">
                {{ client.branches| json }}
            </div>
        </div>
        <button mat-raised-button color="secundary" (click)="back()"
            style="margin: 10px;"><mat-icon>arrow_back</mat-icon></button>
    </mat-card-content>
</mat-card>