<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div style="display: flex; flex-wrap: wrap;">

    <div style="display: flex; flex-direction: row; width: 100%;">

        <div style="flex: 1">
            <mat-card style="margin: 10px; padding: 10px; height: 95%;">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Cliente</mat-card-title>
                        <mat-card-subtitle style="margin-top: 10px;">Detalles del cliente</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="!loading">
                        <div style="margin: 10px; padding: 10px;">
                            {{ client.businessName }}
                        </div>
                        <div style="margin: 10px; padding: 10px;">
                            {{ client.cuit }}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div style="flex: 3">
            <mat-card style="margin: 10px; padding: 10px; height: 95%; overflow-y: auto;">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Sucursales</mat-card-title>
                        <mat-card-subtitle style="margin-top: 10px;">Sucursales del cliente</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <div style="margin: 10px;">
                        <button mat-raised-button color="primary"
                            (click)="addBranchToggle()"><mat-icon>add</mat-icon></button>
                    </div>
                    <div *ngIf="addBranch">
                        <app-form-branch [branchForm]="branchForm" (addBranch)="saveBranche()" [iconSave]="true" ></app-form-branch>

                    </div>
                    <div *ngIf="!loading">
                        <app-table-branch *ngIf="dataSource.data.length > 0" (deleteBranchClicked)="deletBranch($event)"
                            (selectedBranchClicked)="selectBranch($event)" [dataSource]="dataSource"></app-table-branch>
                        <mat-label style="margin-top: 10px;" *ngIf="dataSource.data.length == 0">No hay sucursales para
                            mostrar</mat-label>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

    <mat-card style="width: 100%; margin: 10px; padding: 10px;">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Contactos</mat-card-title>
                <mat-card-subtitle style="margin-top: 10px;">Contactos de sucursal
                    {{branchSelected}}</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <div style="margin: 10px;">
                <button [disabled]="branchSelected == '...'" mat-raised-button color="primary"
                    (click)="addContactToggle()"><mat-icon>add</mat-icon></button>
            </div>
            <div *ngIf="addContact" style="display: flex; flex-direction: row; width: 100%;">

                <div style="flex: 3; padding: 10px;">
                    <form [formGroup]="contactForm">
                        <mat-form-field style="margin: 10px;">
                            <input matInput placeholder="Nombre del contacto" formControlName="name">
                            <mat-error *ngIf="contactForm.get('name')?.hasError('required')">Debe especificar el
                                nombre de contacto</mat-error>
                        </mat-form-field>

                        <mat-form-field style="margin: 10px;">
                            <input matInput placeholder="Apellido" formControlName="surname">
                            <mat-error *ngIf="contactForm.get('surname')?.hasError('required')">Debe especificar
                                el
                                apellido</mat-error>
                        </mat-form-field>

                        <mat-form-field style="margin: 10px;">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="contactForm.get('email')?.hasError('required')">Debe especificar
                                un
                                email</mat-error>
                            <mat-error *ngIf="contactForm.get('email')?.hasError('email')">El formato de email
                                es
                                inválido</mat-error>
                        </mat-form-field>

                    </form>


                    <div style="display: flex; align-items: center; margin: 10px;">
                        <mat-form-field>
                            <input matInput placeholder="Número a agregar" [(ngModel)]="newPhoneNumber"
                                (keyup.enter)="addNumber()">
                        </mat-form-field>
                        <button title="Agregar teléfono" mat-button type="button" (click)="addNumber()">
                            <mat-icon>contact_phone</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="line-shadow" style="flex: 1; padding: 10px;">
                    <mat-label>Teléfonos</mat-label>
                    <mat-list role="list" style="height: 100px;">
                        <mat-list-item *ngIf="phonesNumber.length == 0" role="listitem">
                            No hay números
                        </mat-list-item>
                        <mat-list-item *ngFor="let phone of phonesNumber; let i = index" role="listitem">
                            <div> {{ phone }} <mat-icon (click)="delPhone(i)"
                                    style="margin-right: 5px;">delete</mat-icon> </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            
            <div *ngIf="!loading">
                <button *ngIf="addContact" [disabled]="!contactForm.valid" mat-raised-button color="primary"
                (click)="saveContact()">
                    <mat-icon>save</mat-icon></button>
                <div style="margin: 10px; padding: 10px;" *ngIf="dataSourceContacts.data.length > 0">
                    <app-table-contacts [dataSourceContact]="dataSourceContacts" [branchOverride]="branchSelected"
                        (deleteContactClicked)="deletContact($event)"></app-table-contacts>
                </div>
                <div style="margin: 10px; padding: 10px;" *ngIf="dataSourceContacts.data.length == 0">
                    <mat-label>No hay contactos para mostrar</mat-label>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <button mat-raised-button color="secundary" (click)="back()"
        style="margin: 10px;"><mat-icon>arrow_back</mat-icon></button>
</div>