<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-card class="scrolleable-content" style="margin: 10px; padding: 10px;">
    <mat-card-title>
        Administración de tareas
    </mat-card-title>
    <mat-card-content>

        <div>
            <mat-tab-group #tabGroup mat-stretch-tabs="false" mat-align-tabs="start"
                style="position: sticky; margin: 10px; padding: 10px;">
                <mat-tab label="Tipos" style="margin: 10px;">
                    <mat-card>
                        <mat-card-content>
                            <div
                                style="margin: 10px; padding: 10px; display: flex; flex-direction: column; align-items: flex-start;">
                                <div style="display: flex; width: 100%;">
                                    <div style="margin: 10;padding: 10;">
                                        <mat-form-field style="width: 100%; margin: 5px;">
                                            <input matInput placeholder="Agregar tipo" [(ngModel)]="newJobType"
                                                (keyup.enter)="onEnter()">
                                        </mat-form-field>
                                        <div style="display: flex; width: 100%;">
                                            <mat-list style="width: 100%; max-height: 250px; overflow-y: auto;">
                                                <mat-list-item *ngFor="let type of typeJobs" role="listitem">{{
                                                    type.description }}</mat-list-item>
                                            </mat-list>
                                        </div>
                                        <button [disabled]="loading" mat-raised-button color="primary"
                                            (click)="saveTypes()"><mat-icon>save</mat-icon></button>
                                    </div>

                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>

                </mat-tab>
                <mat-tab label="Tarea" style="margin: 10px;">
                    <mat-card>
                        <mat-card-content>
                            <div
                                style="margin: 10px; padding: 10px; display: flex; flex-direction: column; align-items: flex-start;">
                                <div style="display: flex; flex-wrap: wrap; margin-bottom: 10px;">

                                    <mat-form-field style="flex: 1; margin-right: 10px;">
                                        <input matInput placeholder="Defina una tarea" [(ngModel)]="newJob">
                                    </mat-form-field>

                                    <mat-form-field style="flex: 1; margin-right: 10px;">
                                        <mat-label>Tipo</mat-label>
                                        <mat-select>
                                            <mat-option [value]="type.description" *ngFor="let type of typeJobs"
                                                (click)="selectJobType(type)">
                                                {{ type.description }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button [disabled]="loading || newJob=='' || !typeSelected" mat-raised-button
                                        color="primary"
                                        (click)="addJobType()"><mat-icon>check_circle</mat-icon></button>
                                </div>

                                <div style="display: flex; width: 50%;">

                                    <!-- Primer mat-selection-list para Clientes -->
                                    <mat-list style="width: 100%; max-height: 250px; overflow-y: auto;">
                                        <mat-list-item *ngFor="let job of listJobs">
                                            {{job.description}} {{ job.jobType.description }}
                                        </mat-list-item>
                                    </mat-list>

                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Subtareas" style="margin: 10px;">
                    <mat-card>
                        <mat-card-content>
                            <div
                                style="margin: 10px; padding: 10px; display: flex; flex-direction: column; align-items: flex-start;">
                                <div style="display: flex; width: 100%;">
                                    <div style="flex: 1; margin-right: 10px;">
                                        <mat-selection-list #branchesList [multiple]="false"
                                            style="width: 100%; max-height: 275px; margin-top: 10px;  overflow-y: auto;">
                                            <mat-list-option *ngFor="let job of listJobs" [value]="job"
                                                (click)="selectJob(job)">
                                                {{job.description}}
                                            </mat-list-option>
                                        </mat-selection-list>
                                    </div>
                                    <div style="flex: 1; margin-left: 10px;">
                                        <mat-form-field style="width: 100%; margin: 5px;">
                                            <input matInput placeholder="Agregar subtarea" [(ngModel)]="newSubJob"
                                                (keyup.enter)="onEnterSubJob()">
                                        </mat-form-field>
                                        <mat-list *ngIf="jobSelected"
                                            style="width: 100%; max-height: 250px; overflow-y: auto;">
                                            <mat-list-item *ngFor="let subJob of jobSelected.subJobs">
                                                {{subJob.description}}
                                            </mat-list-item>
                                        </mat-list>
                                        <mat-label style="width: 100%; margin-left: 10px;"
                                            *ngIf="!jobSelected">Seleccione una
                                            tarea</mat-label>
                                    </div>

                                </div>
                                <button style="margin-top: 20px;" mat-raised-button color="primary" (click)="saveJobsSubJobs()"><mat-icon>save</mat-icon></button>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
        <button mat-raised-button color="secundary" (click)="back()"
            style="margin: 10px;"><mat-icon>arrow_back</mat-icon></button>
    </mat-card-content>
</mat-card>